version: '3'
services:
  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    ports:
      - "5001:5001"
  product-service:
    build:
      context: .
      dockerfile: product-service/Dockerfile
    ports:
      - "5002:5002"
  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "5003:5003"
  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    ports:
      - "5004:5004"
